
.smiley-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.smiley {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding-bottom: 6px;
  padding-right: 3px;
  font-weight: 600;
}

.good {
  background: rgb(255, 230, 0);
  color: rgb(66, 66, 66);
}

.bad {
  background: rgb(255, 102, 0);
  color: white;
}